{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}

        <!-- login시작 -->
        <link rel="stylesheet" href="{%static 'main/css/layout/login.css'%}">
            <div class="login">
                <section id="gtco-welcome" class="bg-white section-padding">
                    <div class="container_login">
                        <h2 class="login_text">Login</h2>
                        <form>
                            <div class="form-group">
                                <!-- user_id -->
                                <label for="login_id" placeholder="Input id">ID</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="login_id"
                                    aria-describedby="emailHelp"></div>
                                <div class="form-group">
                                    <!-- user_password -->
                                    <label for="login_ps" placeholder="Input password">Password</label>
                                    <input type="password" class="form-control" id="login_ps"></div>
                                    <!-- login_button -->
                                    <a class="login_button" href="#"><strong> Login</strong></a>
                                    <!-- siginup_button -->
                                    <a class="login_button" href="{% url 'signup'%}"><strong> Signup</strong></a>
                                </form>
                               <a class="google_button" href="#"><strong> Google login</strong></a>
                            <!-- login끝 -->

                        </section>
                    </div>

                    {%endblock%}