@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
/* board.html에 대한 css */
.main-menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    text-align: center;
    padding-top: 40px;
}

.table_container{
    width : 80%;
    margin:auto;
}

.table_page{
    margin-left : 48.5em;
    margin-bottom: 10px;
}
.Write{
    margin-left : 93em;
}

.first{
    font-size : 15px;
}

/* write.html에 대한 css */
.write_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin:auto;
    width : 70%;
    margin-bottom: 28em; */
}


.submit{
    margin-left: 65.6em;
    margin-bottom: 2em;
}

/* .content_group{
    display: grid;
    grid-template-columns: 260px 800px;
    grid-template-rows: 50px 50px;
} */


@media (min-width: 992px) {
    .board .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .board {
        margin: 30px;
    }
}

.board {
    width: 1500px;
    margin: 2em auto;
}

section{
    width: 95%;
    height: 110%;
    margin: auto;
}

footer{
    margin-top:2em;
}

/* detail.html에 대한 css */
h2{
    text-align: center;
    padding-top: 12em;
}
h6{
    font-size: 17px;
    color:black;
}
.answer{
    margin-top: 50px;
    margin-left: 50px;
}

.question_box{
    padding:2em;
    margin-left: 20em;
}

.answer_box{
    padding:2em;
    margin-left: 20em;
}

.card-body1{
    margin: 10px;
}

.card-title{
    font-size: 18px;
}

.back{
    margin-left: 79.5em;
    padding:2em;
}

.li_down{
    margin-bottom: 20em;
}

.page-item{
    margin-bottom: 2em;
}