@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
/* ----------------------------login.html,signup.html---------------------------------------- */
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.main-menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
}
.container_login{
width:400px;
margin: auto;
padding-top: 1em;
}

.login_text{
text-align: center;
margin-bottom: 1em;
}
button{
    margin-top:2em; 
}
#my-signin2{
    margin-top:1em; 
}
@media (min-width: 992px) {
    .login .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .login {
        margin: 30px;
    }
}
.login>.bg-white{
    margin:auto;
    width: 38em;
    height: 32em;
    
}

@media (min-width: 992px) {
    .signup .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .signup{
        margin: 30px;
    }
}

.signup>.bg-white{
    margin:auto;
    width: 38em;
    height: 44em;
}

.login_button{
    border: 1px solid #5d8222;
    color: #5d8222;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    padding: 6px 30px 8px;
    text-transform: capitalize;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    width: 28.5em;
    text-align:center;
}

.login_button:hover {
    border: 1px solid #5d8222;
    color: #fff;
    background-color: #5d8222;
}

.google_button{
    border: 1px solid #4285F4;
    color: #4285F4;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 35px;
    padding: 6px 30px 8px;
    text-transform: capitalize;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    width: 28.5em;
    text-align:center;
}

.google_button:hover {
    border: 1px solid #4285F4;
    color: #fff;
    background-color: #4285F4;
}
