@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.single-service > img{
    width: 22em;
    height: 16em;
    margin-bottom: 1em;
    margin-top: 2em;
}
.single-service > h3{
    padding-top: 10px;
}
.single-service > p{
    padding: 10px;
}
.main-menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
}
