/* ---------------------------------------------mypage.html-------------------------------------------------------- */
@media (min-width: 992px) {
    .mypage .section-padding {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media (min-width: 1200px) {
    .mypage {
        margin: 30px;
    }
}
/* 
#body {
    background-color: #f4ede5;
} */

.container_mypage {
    margin: auto;
}
.mypage {
    width: 1200px;
    margin: 2em auto;
}
.mypage_text {
    text-align: center;
    margin-bottom: 1em;
}

.container_mypage2 {
    width: 80em;
    margin: auto;
}
.delivery img {
    width: 8em;
    height: 8em;
}
.delivery {
    margin-left: 5em;
    display: flex;
    flex-direction: row;
}
.delivery_row {
    flex: 0 0 220px;
}

.mypage_user {
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
}

.user_row > img {
    width: 6em;
    height: 6em;
    margin-top: 1.5em;
}
.user_row {
    flex: 0 0 110px;
}
.user_row:nth-child(2) {
    flex: 0 0 220px;
    margin-top: 1.1em;
}
.user_row:nth-child(3) {
    flex: 0 0 30px;
}
.user_row:nth-child(4) {
    margin-top: 1.5em;
    flex: 2 0 120px;
}
.user_row:nth-child(5) {
    flex: 1 0 220px;
}
.user_border {
    border-left: 3px dashed black;
    height: 12em;

}
.user_row > h4 {
    margin-bottom: 1.5em;
}

h4 > img {
    width: 1.5em;
    height: 1.5em;
}
.card-body > a {
    float: right;
}

/* -------------------------------------------------------mydetail------------------------------------------------------------------ */
td>img{
    width: 12em;
    height: 12em;
}
.mydetail_h2{
    margin-top: 0.5em;
    margin-bottom:1em; 
}
/* ----------------------------------------------------basket------------------------------------------------------------------- */

.option_button{
    border: 1px solid #5d8222;
    color: #5d8222;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    text-transform: capitalize;
    background-color: transparent;
    transition: all 0.3s ease 0s;
    width: 5em;
    text-align:center;
}

.option_button:hover {
    border: 1px solid #5d8222;
    color: #fff;
    background-color: #5d8222;
}
#o_move{
    margin-top: 2.3em;
}