{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/mypage.css'%}">
        <!-- mypage 시작-->
        <div class="mypage">
            <section id="gtco-welcome" class="bg-white section-padding">
                <div class="container_mypage">
                    <div class="section-content">
                        <div class="row">
                            <div class="pl-lg-5 ml-md-5">
                                <div class="container_mypage2">
                                    <h2 class="mydetail_h2">장바구니</h2>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" width="5%">체크</th>
                                                <th scope="col" width="25%">이미지</th>
                                                <th scope="col" width="15%">상품정보</th>
                                                <th scope="col" width="7%">수량</th>
                                                <th scope="col" width="10%"></th>
                                                <th scope="col" width="13%">가격</th>
                                                <th scope="col" width="25%">선택</th>
                                            </tr>
                                        </thead>
                                        <!-- 주문 목록 시작 -->
                                        <tbody>
                                            <tr>
                                                <!-- 주문일자 -->

                                                <td>
                                                    <!-- 체크-->
                                                    <input type="checkbox" aria-label="Checkbox for following text input"></td>
                                                    <td>
                                                        <!-- 제품이미지 -->
                                                        <img src="{%static 'main/img/s.jpg'%}"></td>
                                                        <td>
                                                            <!-- 제품정보 -->
                                                            <strong>옥수수빨대
                                                                <br>[옵션:5m]</strong>
                                                                <br>
                                                                    <!-- 변경버튼 -->
                                                                    <a class="option_button" href="#">
                                                                        <strong>
                                                                            옵션변경</strong>
                                                                    </a>
                                                                </td>
                                                                <!-- 제품수량 -->
                                                                <td id="test">1</td>
                                                                <td>
                                                                    <a href="#">
                                                                        <!-- up 버튼 -->
                                                                        <i class="fa fa-caret-square-o-up" style='font-size:20px;' onclick="test()"></i>
                                                                    </a>
                                                                    <br>
                                                                        <br>
                                                                            <a href="#">
                                                                                <!-- down버튼 -->
                                                                                <i class="fa fa-caret-square-o-down" style='font-size:20px;' onclick="test2()"></i>
                                                                            </a>

                                                                        </td>
                                                                        <!-- 가격 -->
                                                                        <td>000원</td>
                                                                        <td>
                                                                            <!-- 주문하기 버튼 -->
                                                                            <a class="btn btn-primary" href="{%url 'pay'%}">
                                                                                <strong>
                                                                                    주문하기</strong>
                                                                            </a>
                                                                            <br>
                                                                                <br>
                                                                                    <!-- 삭제 버튼 -->
                                                                                    <a class="btn btn-primary" href="#">
                                                                                        <strong>
                                                                                            삭제</strong>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <!-- 주문목록끝 -->

                                                                    </table>

                                                                    <a
                                                                        class="option_button"
                                                                        style="width:8em; margin-left: 51em;"
                                                                        href="{%url 'order'%}">
                                                                        <strong>
                                                                            전체상품주문</strong>
                                                                    </a>
                                                                    <a class="option_button" style="width:8em;" href="{%url 'order'%}">
                                                                        <strong>
                                                                            선택상품주문</strong>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                        <!-- up down버튼 js -->
                                        <script type="text/javascript">
                                            function test() {
                                                var td = document.getElementById("test");
                                                var n = Number(td.innerHTML);
                                                td.innerHTML = n + 1;
                                            }
                                            function test2() {
                                                var td = document.getElementById("test");
                                                var n = Number(td.innerHTML);
                                                td.innerHTML = n - 1;
                                            }
                                        </script>
                                        {%endblock%}