{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}

    <link rel="stylesheet" href="{%static 'main/css/layout/mypage.css'%}">        
        <!-- mypage 시작-->
        <div class="mypage">
            <section id="gtco-welcome" class="bg-white section-padding">
                <div class="container_mypage">
                    <div class="section-content">
                        <div class="row">
                            <div class="pl-lg-5 ml-md-5">
                                <div class="container_mypage2">
                                    <h2 class="mypage_text">
                                        Mypage
                                    </h2>
                                    <!-- 개인정보 시작 -->
                                    <div class="mypage_user">
                                        <div class="user_row">
                                            <img src="{%static 'main/img/user.png'%}"></div>
                                            <div class="user_row">
                                                <!-- user_name -->
                                                <h4>안녕하세요 {{ user.name }}님</h4>
                                                <!-- user_email -->
                                                <h4>email: {{ user.email }}</h4>
                                                <!-- user tel -->
                                                <h4>tel:{{ user.tel }}</h4>
                                            </div>
                                            <div class="user_row">
                                                <!-- 가운대 점선 줄 -->
                                                <div class="user_border"></div>
                                            </div>
                                            <div class="user_row">
                                                <!-- user_coin -->
                                                <h4>남은 coin: {{ user.coin }}
                                                    <!-- <img src="{%static 'main/img/coin.png'%}"> -->
                                                </h4>
                                                <br>
                                                    <!-- user_pay(월정액) -->
                                                    <h4>내가 사용하는 월정액:
                                                            {% if user.term == 1 %}
                                                            {{ '1개월 결제' }}
                                                            {% elif user.term == 3 %}
                                                            {{ '3개월 결제' }}
                                                            {% elif user.term == 6 %}
                                                            {{ '6개월 결제' }}
                                                            {% elif user.term == 12 %}
                                                            {{ '12개월 결제' }}
                                                            {% endif %}</h4>
                                                </div>
                                                <div class="user_row">
                                                    <div class="card" style="width: 38rem; height: 18rem;">
                                                        <div class="card-body">
                                                            <!-- 주문목록 간단히 -->
                                                            <h4 class="card-title">주문목록</h4>
                                                            <p class="card-text">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">물품</th>
                                                                            <th scope="col">갯수</th>
                                                                            <th scope="col">날짜</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>빨대</td>
                                                                            <td>3</td>
                                                                            <td>09.02</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </p>
                                                            <!-- 주문목록 페이지로 넘어가는 버튼 -->
                                                            <a href="{%url 'basket'%}" class="btn btn-primary">장바구니</a>
                                                            <a href="{%url 'mydetail'%}" class="btn btn-primary">자세히</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 주문목록 끝 -->
                                            <!-- 개인정보 끝 -->
                                            <!-- 배송 -->
                                            <h3>배송현황</h3>
                                            <div class="jumbotron jumbotron-fluid">
                                                <div class="delivery">
                                                    <div class="delivery_row">
                                                        <img src="{%static 'main/img/gift.png'%}">
                                                            <p>배송준비중</p>
                                                        </div>
                                                        <div class="delivery_row">
                                                            <img src="{%static 'main/img/arrow.png'%}"></div>
                                                            <div class="delivery_row">
                                                                <img src="{%static 'main/img/delivery-truck.png'%}">
                                                                    <p>배송중</p>
                                                                </div>
                                                                <div class="delivery_row">
                                                                    <img src="{%static 'main/img/arrow.png'%}"></div>
                                                                    <div class="delivery_row">
                                                                        <img src="{%static 'main/img/box.png'%}">
                                                                            <p>배송완료</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- 배송끝 -->
                                                                <!-- 기여도 그래프 -->
                                                                <div class="history-area ptb-90">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <div class="history-text">
                                                                                    <h2>기부현항</h2>
                                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                                        tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis
                                                                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat.
                                                                                        Duis aute irure dol in reprehenderit in voluptate velit sed do eiusmod tempor
                                                                                        incididunt</p>
                                                                                    <a href="#">read more</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="skill">
                                                                                    <div class="progress">
                                                                                        <div class="lead">designing</div>
                                                                                        <div
                                                                                            class="progress-bar wow fadeInLeft"
                                                                                            data-progress="95%"
                                                                                            style="width: 95%;"
                                                                                            data-wow-duration="1.5s"
                                                                                            data-wow-delay="1.2s">
                                                                                            <span>95%</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="progress">
                                                                                        <div class="lead">branding</div>
                                                                                        <div
                                                                                            class="progress-bar wow fadeInLeft"
                                                                                            data-progress="90%"
                                                                                            style="width: 90%;"
                                                                                            data-wow-duration="1.5s"
                                                                                            data-wow-delay="1.2s">
                                                                                            <span>90%</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="progress an-rs">
                                                                                        <div class="lead">developing</div>
                                                                                        <div
                                                                                            class="progress-bar wow fadeInLeft"
                                                                                            data-progress="95%"
                                                                                            style="width: 95%;"
                                                                                            data-wow-duration="1.5s"
                                                                                            data-wow-delay="1.2s">
                                                                                            <span>95%</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <!-- mypage끝 -->
                                        {%endblock%}