{%extends 'main/layout.html'%}
{% load staticfiles %}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/main.css'%}">
        <div class="slider-area slider-style-1">
            <div class="slider-active">
                <div
                    class="single-slider"
                    style="background-image: url(static/main/img/eco.jpg);">
                    <div class="slider-title">
                        <h2 class="animated">SAVERS</h2>
                        <p>Save Us<br>Save Earth</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="count-area count-bg pt-120 pb-90 overly-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-count mb-30">
                            <h2 class="count">460</h2>
                            <span>Plastic</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-count mb-30">
                            <h2 class="count">2000</h2>
                            <span>trash</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-count mb-30">
                            <h2 class="count">500</h2>
                            <span>eco</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-count mb-30">
                            <h2 class="count">960</h2>
                            <span>cups of coffee</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history-area ptb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="history-text">
                            <h2>기부현항</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod consequat.
                                Duis aute irure dol in reprehenderit in voluptate velit sed do eiusmod tempor
                                incididunt</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill">
                            <div class="progress">
                                <div class="lead">00단체</div>
                                <div
                                    class="progress-bar wow fadeInLeft"
                                    data-progress="95%"
                                    style="width: 95%;"
                                    data-wow-duration="1.5s"
                                    data-wow-delay="1.2s">
                                    <span>95%</span>
                                </div>
                            </div>
                            <div class="progress">
                                <div class="lead">00업체</div>
                                <div
                                    class="progress-bar wow fadeInLeft"
                                    data-progress="90%"
                                    style="width: 90%;"
                                    data-wow-duration="1.5s"
                                    data-wow-delay="1.2s">
                                    <span>90%</span>
                                </div>
                            </div>
                            <div class="progress an-rs">
                                <div class="lead">00단체</div>
                                <div
                                    class="progress-bar wow fadeInLeft"
                                    data-progress="95%"
                                    style="width: 95%;"
                                    data-wow-duration="1.5s"
                                    data-wow-delay="1.2s">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- service-area start -->
        <div class="service-area gray-bg border-top pt-85 pb-60">
            <div class="container">

                <div class="row justify-content-center pb-3">
                    <div class="col-md-10 heading-section text-center ftco-animate">
                        <h1>월정액</h1><br>
                        <p>자신이 원하는 가격,기간동안 편하게 사용하고, 기부헤 보세요~</p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ftco-animate">
                        <div class="pricing-entry pb-5 text-center">
                            <div>
                                <h3 class="mb-4">1Month</h3>
                                <p>
                                    <span class="price">Seed</span>
                                    <span class="per"></span>
                                </p>
                            </div>
                            <ul>
                                <a href="{%url 'pay'%}">
                                    <li>3000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>5000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>10000won</li>
                                </a>

                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <div class="pricing-entry pb-5 text-center">
                            <div>
                                <h3 class="mb-4">3Month</h3>
                                <p>
                                    <span class="price">Sprout</span>

                                </p>
                            </div>
                            <ul>
                                <a href="{%url 'pay'%}">
                                    <li>3000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>5000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>10000won</li>
                                </a>

                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <div class="pricing-entry active pb-5 text-center">
                            <div>
                                <h3 class="mb-4">6Month</h3>
                                <p>
                                    <span class="price">Flower</span>

                                </p>
                            </div>
                            <ul>
                                <a href="{%url 'pay'%}">
                                    <li>3000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>5000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>10000won</li>
                                </a>

                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 ftco-animate">
                        <div class="pricing-entry pb-5 text-center">
                            <div>
                                <h3 class="mb-4">1year</h3>
                                <p>
                                    <span class="price">Fruit</span>

                                </p>
                            </div>
                            <ul>
                                <a href="{%url 'pay'%}">
                                    <li>3000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>5000won</li>
                                </a>
                                <a href="{%url 'pay'%}">
                                    <li>10000won</li>
                                </a>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- portfolio start -->
        <div id="PRODUCT">
            <div class="portfolio-area ptb-90">
                <div class="container">
                    <div class="section-title text-center">
                        <h1>제품</h1><br>
                        <p>원하는 물품을 카테고리별로 편하게</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="single-service white-bg text-center">
                                <img src="{%static 'main/img/s.jpg'%}">
                                    <h3>빨대</h3>
                                    <p>#종이빨대 #옥수수빨대 #쌀빨대 <br>#스테인리스빨대 #커피빨대
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-service white-bg text-center">
                                    <img src="{%static 'main/img/tum.jpg'%}">
                                        <h3>텀블러</h3>
                                        <p>#스테인리스 텀블러 #카페 #절약<br> #튼튼함
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-service white-bg text-center">
                                        <img src="{%static 'main/img/bag.jpg'%}">
                                            <h3>에코백</h3>
                                            <p>#친환경 장보기 #여러번 쓰는 가방 #편안함<br> #실용적 #디자인 에코백 #파우치
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="single-service white-bg text-center">
                                            <img src="{%static 'main/img/denamoo.jpg'%}">
                                                <h3>욕실용품</h3>
                                                <p>#대나무칫솔 #친환경 <br><br>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="single-service white-bg text-center">
                                                <img src="{%static 'main/img/stan.jpg'%}">
                                                    <h3>주방용품</h3>
                                                    <p>#스테인리스 냄비 #천연수세미 #천연세제<br> #원목도마 #야자수잎 일회용기 
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="single-service white-bg text-center xs-service">
                                                    <img src="{%static 'main/img/su.jpg'%}">
                                                        <h3>기타</h3>
                                                        <p>#두부 고양이 모래 <br><br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {%endblock%}