{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/product.css'%}">
        <div class="portfolio-area ptb-90">
            <div class="container_product">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-service white-bg text-center">
                            <img src="{%static 'main/img/s.jpg'%}">
                                <h3>Web Design</h3>
                                <p>Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex
                                    fuga platea eveniet pulvinar praesent
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-service white-bg text-center">
                                <img src="{%static 'main/img/s.jpg'%}">
                                    <h3>Web Design</h3>
                                    <p>Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex
                                        fuga platea eveniet pulvinar praesent
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="single-service white-bg text-center">
                                    <img src="{%static 'main/img/s.jpg'%}">
                                        <h3>Development
                                        </h3>
                                        <p>Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex
                                            fuga platea eveniet pulvinar praesent
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-service white-bg text-center">
                                        <img src="{%static 'main/img/s.jpg'%}">
                                            <h3>Photography</h3>
                                            <p>Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex
                                                fuga platea eveniet pulvinar praesent
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {%endblock%}