{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/pay.css'%}">
        <div id="pay">
            <section id="gtco-welcome" class="bg-white section-padding">
                <div class="pay_container">
                    <!-- 주문정보 -->
                    <h2>회원정보</h2>
                    <table border="1" summary="">
                        <colgroup>
                            <col style="width:150px;">
                                <col style="width:auto;"></colgroup>
                                <tbody>
                                    <tr>
                                        <!-- user_name -->
                                        <th class="order-text" scope="row">이름</th>
                                        <td>
                                            <input class="order_input" placeholder="" value="" type="text"></td>
                                        </tr>
                                        <tr>
                                            <!-- user_id -->
                                            <th class="order-text" scope="row">아이디</th>
                                            <td>
                                                <input class="order_input" placeholder="" value="" type="text"></td>
                                            </tr>
                                            <tr>
                                                <!-- user_ps -->
                                                <th class="order-text" scope="row">비밀번호</th>

                                                <td>

                                                    <input class="order_input" value="" type="password"></td>
                                                </tr>
                                                <tr>
                                                    <!-- user_ps -->
                                                    <th class="order-text" scope="row">비밀번호 확인</th>
                                                    <td>
                                                        <input class="order_input" value="" type="password"></td>
                                                    </tr>

                                                    <tr class="">
                                                        <!-- user_address -->
                                                        <th class="order-text" scope="row">주소
                                                        </th>
                                                        <td>

                                                            <input class="order_input" value="" type="text">
                                                                <br></tr>

                                                                <tr class="">
                                                                    <!-- user_tell -->
                                                                    <th class="order-text" scope="row">휴대전화</th>

                                                                    <td>
                                                                        <input class="order_input" value="" type="text"></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                            <br>
                                                                <hr>
                                                                    <br>
                                                                        <h2>결제수단</h2>
                                                                        <table class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="60%">
                                                                                        <select class="form-control form-control-lg">
                                                                                            <option>카드결제</option>
                                                                                            <option>무통장입금</option>
                                                                                            <option>휴대폰결제</option>
                                                                                        </select>
                                                                                    </th>
                                                                                    <th style="height:3em; border:0px;">
                                                                                        <div class="th_text">결제</div>
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th style="height:9em">
                                                                                        <div class="th_text">결제에대한설명</div>
                                                                                    </th>
                                                                                    <th>
                                                                                        <div class="th_text">총결제금액<br>
                                                                                                <h2 style="color: red;">000원</h2>
                                                                                                <br>
                                                                                                    <button type="button" class="btn btn-primary">결제하기</button>
                                                                                                </div>
                                                                                            </th>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                    {%endblock%}