{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/board.css'%}">
        <section id="gtco-welcome" class="bg-white section-padding">
            <div class="board">
                <h1>NOTICE</h1>
                <!-- board_Question 내용 나오는 칸 -->
                <div class="question_box">
                    <div class="card" style="width: 90rem;">
                        <div class="card-body1">
                            <h5 class="card-title">Title : Test1_Save earth</h5>
                            <br>
                                <h6 class="card-subtitle mb-2 text-muted">Name : Hye Ji</h6>
                                <br>
                                    <p class="card-text">세이버스에서 공지합니다. 추석 당일에는 정상적으로 홈페이지를 운영하지만
                                        추석연휴로 인해 배송은 1주일간 늦어질 예정입니다.<br>
                                        항상 지구를 사랑하는 세이버스가 되도록 노력하겠습니다.<br>
                                        세이버스는 이렇게 공지가 올라옵니다.<br>
                                        공지사항은 꼭 확인해 주세요!<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                 <!-- board_Answer 나오는 칸 -->
                        <div class="answer_box">
                            <div class="card" style="width: 90rem;">
                                <div class="card-body1">
                                    <h5 class="card-title">Answer</h5>
                                    <br>
                                        <h6 class="card-subtitle mb-2 text-muted">Savers</h6>
                                        <br>
                                            <p class="card-text">세이버스는 다양한 친환경</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 뒤로가기 버튼 -->
                            <div class="back">
                            <a href="{%url 'n_board'%}" class="btn btn-primary">Back</a>
                        </div>
                            </section>
                        {%endblock%}