{%extends 'main/layout.html'%}
{%load staticfiles%}
{%block content%}
    <link rel="stylesheet" href="{%static 'main/css/layout/board.css'%}">
        <section id="gtco-welcome" class="bg-white section-padding">
            <div class="board">
                <h1>Question</h1>
                <!-- board_Question 내용 나오는 칸 -->
                <div class="question_box">
                    <div class="card" style="width: 90rem;">
                        <div class="card-body1">
                            <h5 class="card-title">Title : Question1_Save earth</h5>
                            <br>
                                <h6 class="card-subtitle mb-2 text-muted">Name : Hye Ji</h6>
                                <br>
                                    <p class="card-text">Q.  세이버스는 어떤 서비스 인가요?
                                    </p>
                                </div>
                            </div>
                        </div>
                 <!-- board_Answer 나오는 칸 -->
                        <div class="answer_box">
                            <div class="card" style="width: 90rem;">
                                <div class="card-body1">
                                    <h5 class="card-title">Answer</h5>
                                    <br>
                                        <h6 class="card-subtitle mb-2 text-muted">Savers</h6>
                                        <br>
                                            <p class="card-text">세이버스는 다양한 친환경, 다회용품, 소모품들을 카테고리별로 볼 수 있습니다. 또한 플라스틱을 대신해서
                                                사용하는 옥수수 빨대, 생분해 음식물쓰레기 봉투 등의 소모품의 경우는 정기적인 구매가 필요하다는 점을 고려하여 이들을 월정액 결제를 통해
                                                구매하고, 구매 금액의 일부를 기부할 수 있습니다. 사용자는 3개월 6개월 1년 단위로 월정액 종류를 선택하여 지불하고 금액에 맞는 대체 제품을
                                                선택하여 매달 배송 받습니다. 매달 받는 대체 제품에는 기부금이 포함 되어있고, 필요한 제품을 선택하고 남은 금액을 사용자가 자유롭게 기부하는
                                                형식입니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 뒤로가기 버튼 -->
                            <div class="back">
                            <a href="{%url 'q_board'%}" class="btn btn-primary">Back</a>
                        </div>
                            </section>
                        {%endblock%}